{% extends "base.html" %}

{% block title %}Collection{% endblock %}

{% block content %}



        <h1>Collection</h1>
        {% if not games %}
        <div class="alert alert-warning my-4" role="alert">
            <br>
            <br>
            <br>

            <h2>Add some games to ur collection</h2>
            <br>
            <br>
            <br>
        </div>
        {% else %}


        <div class="py-5 my-5 bg-body-tertiary">
            <div class="container ">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 d-flex justify-content-center">
                    {% for g in games %}

                    <div class="col  border border-light border-top-0 rounded border-start-0  m-3"
                         style="padding: 0">

                        {%include 'card_img.html' %}
                        <div class=" text-center"><p class="card-title .gradient-text"> {{g.name}}</p><br>

                            <table class="table card-text table-borderless">
                                <tbody>
                                <tr>
                                    <th scope="row" style="text-align: left"> Rating:</th>
                                    <td><span class="text-warning">{{g.rating }}/5</span></td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: left"> Release date:</th>
                                    <td><span class="text-warning">{{ g.release_date }}</span></td>
                                </tr>
                                <tr>
                                    <th scope="row" style="text-align: left"> Metacritic score:</th>
                                    <td><span class="text-warning">{{ g.metacritic }}</span></td>
                                </tr>

                                </tbody>

                            </table>


                            <div class=" d-flex  justify-content-center align-items-center">
                                <div class="btn-group my-2 ">
                                    <a data-bs-toggle="tooltip" data-bs-placement="left" title="details"
                                       data-bs-custom-class="details-tooltip" href="{{url_for('details', id=g.id)}}"
                                       class="icon mx-2"><img src="../static/img/details.svg"></a>

                                    <a data-bs-toggle="tooltip" data-bs-placement="right" title="delete"
                                       data-bs-custom-class="delete-tooltip"
                                       href="{{url_for('delete',id=g.id, site='collection')}}"
                                       class="icon mx-2"><img src="../static/img/delete.svg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        {% endif %}


{% endblock %}